body{
    background-color: whitesmoke;
    margin:0%;   
    font-variant: small-caps;
}

header{
    height:50px;width: auto;
    background-color: rgb(31, 108, 191);
    display:flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    font-variant: small-caps;
}

.ae{
    display: flex;
    justify-content:baseline;
}
#profile{
    height:170px;width: 100%;
    border:2px solid black;
}

#about{
    height: 200px;width: 450px;
    border: 2px solid black;
}

#experience{
    height: 200px;width: 350px;
    border: 2px solid black;
    
}

#projects{
    height: 80px;width: 100%;
    border: 2px solid black;
}

.bc{
    display: flex;
    justify-content: baseline;
}

#blogs{
    height:100px;width:40%;
    border:2px solid black;
}

#contact{
    height:100px;width:60%;
    border:2px solid black;
}

